.first-section {
  background-image: url(./icons/bg-line.svg), url(./icons/bg-icon.svg),
    url(./icons/bg-icon-big.svg);
  background-repeat: no-repeat;
  background-position: bottom, -10vw -34vh, 30vw 0vh;
  background-size: contain, 45vw auto, 90vw auto;
}
