@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.first-section {
  background-image: url(../public/icons/bg-line.svg),
    url(../public/icons/bg-icon.svg), url(../public/icons/bg-icon-big.svg);
  background-repeat: no-repeat;
  background-position: bottom, -10vw -34vh, 30vw 0vh;
  background-size: contain, 45vw auto, 90vw auto;
}

.third-section {
  background-image: url(../public/icons/bg-line-1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.fourth-section {
  background-image: url(../public/icons/bg-icon-big.svg);
  background-repeat: no-repeat;
  background-position: -900% -5%;
  background-size: 2000px;
}
